{erl_opts, [debug_info, warnings_as_errors]}.
{clean_files, ["erl_crash.dump"]}.

{relx, [ { release
         , {service_elazy_cms_http, "0.1.0"}
         , [ elazy_cms_http
           , kernel
           , stdlib
           , sasl
           , inets
           , ssl
           , public_key
           , config_server
           , cowboy
           ]
         }
       , {dev_mode, false}
       , {include_erts, false}
       , {extended_start_script, true}
       , {vm_args, "config/dev/vm.args"}
       , {sys_config, "config/dev/sys.config"}
       ]
}.

{profiles, [ { prod
             , [ { relx
                 , [ {dev_mode, false}
                   , {include_erts, true}
                   ]
                 }
               ]
             }
           , { test
             , [ {cover_enabled, true}
               , {cover_opts, [verbose]}
               , {eunit_compile_opts, []}
               , {eunit_first_files, []}
               , {eunit_opts, [{dir, "test"}]}
               ]
             }
           , { dev
             , [ { relx
                 , [ {dev_mode, true}
                   , {include_erts, false}
                   , {overlay_vars, "config/dev.config"}
                   , {overlay, [ {mkdir, "log/sasl"}
                               %, {template, "priv/app.config", "etc/app.config"}
                               , {copy, "priv/configs/dev.config", "priv/configs/env.config"}
                               ]
                     }
                   ]
                 }
               ]
             }
           ]
}.

%% directory for artifacts produced by rebar3
{base_dir, "_build"}.
%% directory in '<base_dir>/<profile>/' where deps go
{deps_dir, "lib"}.
%% where rebar3 operates from; defaults to the current working directory
{root_dir, "."}.
%% where checkout dependencies are to be located
{checkouts_dir, "_checkouts"}.
%% directory in '<base_dir>/<profile>/' where plugins go
{plugins_dir, "plugins"}.
%% directories where OTP applications for the project can be located
{project_app_dirs, ["lib/*", "."]}.
%% Directories where source files for an OTP application can be found
{src_dirs, ["src"]}.
%% Paths to miscellaneous Erlang files to compile for an app
%% without including them in its modules list
{extra_src_dirs, []}.
