#{ mode => dev
 , ws => #{ https_port => 8444
          , http_port  => 8081
          , host => "workofdream.com"
          }
 , web => #{ https_port => 8443
           , http_port  => 8080
           , host       => "workofdream.com"
           }
 , data => #{ adapter => #{ current => <<"mysql">>
                          , mysql => #{ pool_config => #{ size => 10
                                                        , max_overflow => 20
                                                        , pool_name => mysql_data_pool
                                                        }
                                      , config => #{ <<"host">> => "172.28.128.5"
                                                   , <<"port">> => 3306
                                                   , <<"login">> => "webdev"
                                                   , <<"password">> => "webdev"
                                                   , <<"database">> => "webdev"
                                                   }
                                      }
                          }
            }
  }.
